
Neural Net From Scratch to Implementation with PyTorch/
data/MNIST/processed/test.pt
data/MNIST/processed/training.pt
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
